body {
  padding: 0px;
  margin: 0px;
  font-family: "Playfair Display", serif;
}
h1 {
  color: rgb(0, 255, 136);
}
.jumbotron-fluid {
  background-image: url("./img/Books.jpg");
  width: 100%;
  height: 50%;
  opacity: 0.9;
  background-position: center;
  color: wheat;
}
.navbar {
  border-bottom: #07ffd6 3px solid;
  opacity: 0.8;
}
